<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{login/basic.html}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container"  style="margin-top: 50px">
        <h1 class="centered-text" style="font-weight: bold">결재</h1>
        <hr>
        <br>
        <div>
            <h3 style="font-weight: bold">결의서 번호: <span th:text="${approval.appTitle}"></span></h3>
        </div>
<br>
<th:block th:each="approvalDetail : ${approvalDetail}">
    <div>
        <h4 style="font-weight: bold">결재자 사원번호: <span th:text="${approvalDetail.empCheckNum}"></span></h4>
    </div>

    <h3 style="font-weight: bold">결재 현황</h3>
    <th:block th:if="${approvalDetail.approvalStatus == 0}">
        미결
    </th:block>
    <th:block th:if="${approvalDetail.approvalStatus == 1}">
        결재완료
    </th:block>
    <th:block th:if="${approvalDetail.approvalStatus == 2}">
        반려
    </th:block>
    <br>
    <hr>
</th:block>
<th:block th:each="approvalContent : ${approvalContent}">
    <th:block th:text="${approvalContent.fieldKey}"></th:block>
    <th:block th:text="${approvalContent.fieldValue}"></th:block><br>
</th:block>
        <br>
        <hr>

<form action="/approval/receivedApproval" method="post" id="btnSubmit">
<th:block th:if="${approvalStatus.empCheckNum == sessionEmpNum}">
    <button class="btn btn-success" id="check" th:name="checkNum" th:value="1">결재하기</button>
    <button class="btn btn-danger" id="return" th:name="checkNum" th:value="2">반려하기</button>
    <input type="hidden" name="approvalNum" th:value="${approval.approvalNum}">
<!--    <input type="button" id="check" value="결재하기">-->
</th:block>
</form>
    </div>

<script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
<script type="text/javascript">


    $('#check').click(function (){
        if (confirm("승인하시겠습니까?")) {
            $('#btnSubmit').submit();
        } else {
            return false;
        }
    })
    $('#return').click(function (){
        if (confirm("반려하시겠습니까?")) {
            $('#btnSubmit').submit();
        } else {
            return false;
        }
    })


</script>
</div>
</body>
</html>