<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>내가 올린 결재함</h2>
<div style="display: flex;">
    <div style="margin-right: 100px;">
        <h3>미결</h3>
        <th:block th:each="myApproval : ${myApproval}">
            <div th:if="${myApproval.appCheck == 0}">
                <a th:href="@{'/approval/' + ${myApproval.approvalNum}}">
                    <p th:text="${myApproval.appTitle}"></p>
                </a>
            </div>
        </th:block>
    </div>
    <div style="margin-right: 100px;">
        <h3>결재완료</h3>
        <th:block th:each="myApproval : ${myApproval}">
            <div th:if="${myApproval.appCheck == 1}">
                <a th:href="@{'/approval/' + ${myApproval.approvalNum}}">
                    <p th:text="${myApproval.appTitle}"></p>
                </a>
            </div>
        </th:block>
    </div>
    <div style="margin-right: 100px;">
        <h3>반려</h3>
        <th:block th:each="myApproval : ${myApproval}">
            <div th:if="${myApproval.appCheck == 2}">
                <a th:href="@{'/approval/' + ${myApproval.approvalNum}}">
                    <p th:text="${myApproval.appTitle}"></p>
                </a>
            </div>
        </th:block>
    </div>
</div>
</body>
</html>