<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>지출결의서</title>
</head>
<body>
<h1>지출결의서</h1>
<form action="/approval/purchaseSuccess" method="post" id="pageForm">
  <div>결재선 <br>


    <select id="deptPick">
      <option th:text="선택하세요"></option>
      <th:block th:each="deptList : ${deptList}">
        <option th:value="${deptList.deptNo}" th:text="${deptList.deptName}"></option>
      </th:block>
    </select>
    <select th:class="empSelBox">
      <option th:value="pickMe" th:text="선택하세요"></option>
      <th:block th:each="empList : ${empList}">
        <option th:class="optionClass" th:attr="data-deptnum=${empList.deptNo},data-empnum=${empList.empNum}" th:style="${'display:none'}" th:value="${empList.empNum}" th:text="${empList.empName}"></option>
      </th:block>
    </select><input type="button" th:id="addPerson" th:value="추가"/>
    <div th:id="addPersonDiv">

    </div><br><br>
  </div>


<table>
  <tr>
    <td>제목:</td>
    <td><input type="text" name="title"/></td>
  </tr>
  <tr>
    <td>기안일자:</td>
    <td><input type="date" name="approvalDate"/></td>
  </tr>
  <tr>
    <td>작성일자:</td>
    <td><input type="date" name="creationDate"/></td>
  </tr>
  <tr>
    <td>소속:</td>
    <td><input type="text" name="department"/></td>
  </tr>
  <tr>
    <td>작성자:</td>
    <td><input type="text" name="author"/></td>
  </tr>
  <tr>
    <td>총 금액:</td>
    <td><input type="text" name="totalAmount"/></td>
  </tr>
  <tr>
    <td>지출사유:</td>
    <td><textarea name="reason" rows="4"></textarea></td>
  </tr>
  <tr>
    <td>문서번호:</td>
    <td><input type="text" th:attr="data-totalkey=${purchaseFieldNames[0]},data-reasonkey=${purchaseFieldNames[1]},data-categorykey=${purchaseFieldNames[2]},data-costkey=${purchaseFieldNames[3]},data-detailkey=${purchaseFieldNames[4]}" th:value="1" name="documentNum" th:id="documentNum" readonly/></td>
  </tr>
</table>

<h2>상세지출내역</h2>

<input type="button" id="detailAddBtn" th:value="추가" />

<table>
  <thead>
  <tr>
    <th><th:block th:text="${purchaseFieldNames[2]}"/></th>
    <th><th:block th:text="${purchaseFieldNames[3]}"/></th>
    <th><th:block th:text="${purchaseFieldNames[4]}"/></th>
  </tr>
  </thead>
  <tbody id="detailInput">

  </tbody>
</table>

  <p><input type="button" th:value="제출" id="pageSubmit"></p>
  <p><input type="button" th:value="디테일제출" id="detailSubmit"></p>
</form>
<script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
<script type="text/javascript">

  $(document).ready(function(){
    document.getElementById('detailAddBtn').click();
  });

  var num = 1;
  var detailInput = $('#detailInput');
  $('#detailAddBtn').click(function (){
    detailInput.append("  <tr class='trClass'>" + // $('.trClass').each 로 한줄씩 insert 해줍시다
            "    <td>" +
            "      <select>" +
            "        <option value=\"물품구입비\">물품구입비</option>" +
            "        <option value=\"출장비\">출장비</option>" +
            "        <option value=\"식비\">식비</option>" +
            "        <option value=\"교통비\">교통비</option>" +
            "        <option value=\"기타\">기타</option>" +
            "      </select>" +
            "    </td>" +
            "    <td><input type=\"text\" ></td>" +
            "    <td><input type=\"text\" ></td>" +
            "    <td><input type='button' class='removeDetail' value='삭제'/></td>" +
            "  </tr>");
    num++;
  });

  $(document).on("click", ".removeDetail", function(){
    if($('.trClass').length > 1){
      $(this).closest("tr").remove();
    }

  });

  // $('#pageSubmit').click(function (){
  //   if (confirm("제출하시겠습니까?")) {
  //     $('#pageForm').submit();
  //   } else {
  //     return false;
  //   }
  // });


  $('#deptPick').change(function (){
    $('.optionClass').css('display', 'none');
    $('.empSelBox').val('pickMe').prop('selected', true);
    var deptNo = $(this).val();

    $('.optionClass').each(function (){
      if ($(this).data('deptnum') == deptNo) {
        $(this).css('display', '');
      }
    });
  });

  $('#addPerson').click(function (){
    var deptNameSel = $('#deptPick option:selected').text();
    var empName = $('.empSelBox option:selected').text();
    var empNoSel = $('.empSelBox option:selected').data('empnum');
    if (empName == "선택하세요") {
      alert("사원을 선택하세요");
    } else {
      $('#addPersonDiv').append("<div>결재 : <input data-empnosel="+empNoSel+" type=\"text\" value='"+empName+"("+deptNameSel+")"+"' readonly>" +
              "      <input class='addPersonBtnClass' type='button' value='삭제' /><br></div>");
    }
  });

  $(document).on("click", ".addPersonBtnClass", function(){
    // console.log($(this).attr('id'));
    $(this).parent('div').remove();
  });


  $(document).on("click", "#pageSubmit", function (){ // 클릭했을 때 새로 읽어오기 하게 바꾸기
    if (confirm("제출하시겠습니까?")) {
      var insertedKey = 0;
      var basic = {
        approvalDate : $("input[name=approvalDate]").val(),
        title : $("input[name=title]").val(),
        creationDate : $("input[name=creationDate]").val(),
        empNum : $("input[name=author]").val(),
        documentNum : $("input[name=documentNum]").val(),
      }
      var jsonData = JSON.stringify(basic)
      $.ajax({
        data: jsonData,
        url: "/form/purchaseBasic",
        type: "POST",
        contentType: "application/json",
        success: function (data) {
          insertedKey = data;

          var empNoDataArray = [];
          empNoDataArray.push(parseInt(insertedKey));
          $('#addPersonDiv div').each(function (){
            var empNoData = $(this).children().first().data('empnosel');
            empNoDataArray.push(parseInt(empNoData));
            console.log(empNoData);
          });

          console.log("여기까지 오나요");
          $.ajax({
            data: JSON.stringify({ empNoData: empNoDataArray }),
            url: "/form/addPerson",
            type: "POST",
            contentType: "application/json",
            success: function (data) {
              console.log(data);
              // location.href="/approval/purchaseSuccess";
              $('.trClass').each(function () {
                // console.log($(this).children().children().eq(0).val());
                // console.log($(this).children().children().eq(1).val());
                // console.log($(this).children().children().eq(2).val());

                var addDetailVO = {  // categoryKey, costKey, detailKey 필드 만들기 -- 총금액 & 지출사유 필드 추가할 수 있게 만들기
                  approvalNum : insertedKey,
                  documentNum : $('#documentNum').val(),
                  categoryKey : $('#documentNum').data('categorykey'),
                  category : $(this).children().children().eq(0).val(),
                  costKey : $('#documentNum').data('costkey'),
                  cost : $(this).children().children().eq(1).val(),
                  detailKey : $('#documentNum').data('detailkey'),
                  detail : $(this).children().children().eq(2).val(),
                }
                var jsonData1 = JSON.stringify(addDetailVO);
                console.log(addDetailVO);

                $.ajax({
                  data: jsonData1,
                  url: "/form/addDetail",
                  type: "POST",
                  contentType: "application/json",
                  success: function (data) {
                    console.log(data);
                  },
                  error: function() {
                    alert("Error occurred");
                  }
                });
              })



              // $('#pageForm').submit();
            },
            error: function() {
              alert("Error occurred");
            }
          });

        },
        error: function() {
          alert("Error occurred");
        }
      });
    } else {
      return false;
    }

  });

  // $(document).on("click", "#detailSubmit", function (){
  //   $('.trClass').each(function () {
  //     // console.log($(this).children().children().eq(0).val());
  //     // console.log($(this).children().children().eq(1).val());
  //     // console.log($(this).children().children().eq(2).val());
  //     var addDetailVO = {
  //       approvalNum : insertedKey,
  //       documentNum : $('#documentNum').val(),
  //       category : $(this).children().children().eq(0).val(),
  //       cost : $(this).children().children().eq(1).val(),
  //       detail : $(this).children().children().eq(2).val(),
  //     }
  //     var jsonData1 = JSON.stringify(addDetailVO);
  //     console.log(addDetailVO);
  //
  //     $.ajax({
  //       data: jsonData1,
  //       url: "/form/addDetail",
  //       type: "POST",
  //       contentType: "application/json",
  //       success: function (data) {
  //         console.log(data);
  //       },
  //       error: function() {
  //         alert("Error occurred");
  //       }
  //     });
  //   })
  // });

</script>
</body>
</html>
