<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>구매결의서 입력</title>
</head>
<body>
<h1>구매결의서 입력</h1>

<form action="/approval/purchase" method="post">
    <!-- 구매 요청 정보 -->
    <p>기안자<input type="text" name="approvalName"></p>
    <p>소속<input type="text" name="deptName"></p>
    <p>기안일<input type="date" name="approvalDate"></p>
    <p>문서번호(approval_num)<input type="text" name="approvalNum"></p>
    <div>
        <h2>구매 요청 정보</h2>
        <p>요청자<input type="text" name="name" /></p>
        <p>요청부서<input type="text" name="dept"></p>
        <p>요청금액<input type="text" name="price"></p>
    </div>

    <div>
        <button type="submit">구매 요청 제출</button>
    </div>
</form>



</body>
</html>
